::ng-deep .yellow-snackbar {
  background-color: #FFA200;
  color: white;
}

::ng-deep .red-snackbar {
  background-color: #BB4E00;
  color: white;
}

::ng-deep .blue-snackbar {
  background-color: #0C5BD7;
  color: white;
}

::ng-deep .green-snackbar {
  background-color: #00D3B6;
  color: white;
}